* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
}

.menu__closed {
  background-color: black;
  display: none;
}

.menu__opened {
  visibility: visible;
  min-height: 100dvh;
  float: right;
  width: 35%;
  background: #CCCCCC;
  border: 2px double black;
  padding: 3dvh;
}

.menu__background {
  width: 65%;
  height: 100%;
  background: black;
  opacity: .4;
}

