* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  position: absolute;
  left: 70%;
  height: 100vh;
  background: white;
  float: right;
  width: 30%;
}

.menu__closed {
  background-color: black;
  visibility: hidden;
}

.menu__opened {
  visibility: visible;
  animation-duration: 3s;
  animation-name: slidein;
  background: lightslategray;
  border: 2px solid white;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
    width: 30%;
  }
}


